/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100%;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.header{
	background:url(../images/14.png);
	padding:20px 0px;
}
.logo{
	text-align:center;
	margin-bottom: 10px;
}
.follow_icon {
	list-style: none;
	padding-bottom:10px;
}
.follow_icon li {
	display:inline-block;
	margin-left:8px;
}
.follow_icon li :hover{
	opacity:0.7;
}
.follow_icon li a img {
	vertical-align: middle;
}
/*--menu--*/
.subMenu{
	z-index: 1000;
	width: 100%;
	background:#484848;
}
.subMenu1 {
	z-index: 1000;
	width: 100%;
	background: #B34550;
	margin: 20px 0 30px;	
}
.subMenu .inner {
	padding: 0;
	font-weight: 400;
}
.subMenu .inner {
	font-weight: 400;
}
.inner li.active a, .inner li a:hover {
	color: #F53E54;
}
.inner li:first-child a{
	border:none;
}
.subNavBtn {
	display: block;
	width: 23.48%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 13px;
	padding: 10px 0% 10px 0%;
	text-align: center;
	color: #FFF;
	border-left: 2px ridge #635E5F;
}
/*--content--*/
.grid-box{
	padding-top:20px;
}
.banner2 {
	min-height:113px;
	position:relative;
}
.banner2 strong {
	display: block;
	font-size: 34px;
	color: #FFF;
	padding: 2px 0 0;
	line-height: 50px;
	font-weight: bold;
}
.content-box{
	background: url(../images/banner1.jpg)no-repeat;
}
.banner2 .price {
	font-size:20px;
	color:#fff;
	top:12%;
	line-height:80px;
	width:80px;
	text-align: center;
	position: absolute;
	left:34%;
}
.banner2 a:hover .price {
	color:#a30505;
	filter: none;
}
/*--content--*/
/*  GRID OF FOUR   ============================================================================= */
.main-content{
	background:#fff;
	padding:30px 10px;
}
.col_1_of_4{
	display: block;
}
.grid-img{
	text-align:center;	
}
.span_1_of_4 {
	margin-bottom: 20px;
	border: 1px solid #D9D9D9;
}
.span_1_of_4  h3{
	color:#C94848;
	margin-bottom: .5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
}
.grid_desc {
	padding:10px;
}
p.title {
	font-size: 13px;
	color:#a30505;
	line-height: 1.6em;
	
}
p.title1 {
	font-size: 13px;
	color: #333;
}
span.reducedfrom {
	margin-right: 8%;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
}
span.actual {
	text-decoration: line-through;
	margin-right: 8%;
	color: #555;
	font-size: 1.2em;
}
.Details {
	float: none;
	padding:0 10px 20px;
}
.Details a {
	width: 73px;
	height: 32px;
	display: inline-block;
	background:#a30505;
	border: none;
	border-right: 1px solid #a30505;
	padding: 0 0 0 11px;
	margin: 0;
	font: normal 14px/30px Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #FFF;
	text-transform: capitalize;
	letter-spacing: 0;
	text-align: left;
	text-decoration: none;
	position: relative;
	-webkit-appearance: none;
}
.Details a span {
	width: 14px;
	height: 14px;
	display: inline-block;
	display: block;
	position: absolute;
	right: 8px;
	top: 9px;
	z-index: 1;
	background: url(../images/det_marker.png) left top no-repeat;
	text-indent: -9999px;
}
.Details a:hover {
	background:#555;
	border-right:1px solid #555;
	text-decoration: none;
}
.box_wrapper {
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	border-bottom: 1px solid #D0D0D0;
	background: #AD1C1B;
}
.price1{
	padding:10px 0;
}
/*--footer--*/
.footer{
	background:url(../images/footer_bg2.gif);
	padding: 20px 10px;
}
/*  GRID OF FIVE   ============================================================================= */
.col_1_of_5{
	display: block;
}
.span_1_of_5 {
  	margin-bottom: 20px;
}
.span_1_of_5  h3{
	color:#fff;
	margin-bottom: .5em;
	font-size:1.1em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_5   p {
	font-size:0.8125em;
	padding:0.5em 0;
	color:#333333;
	line-height: 1.5em;
}
.footer-grid h3 {
	color: #FFF;
	font-size: 1.1em;
	text-transform: uppercase;
}
.footer-grid p {
	font-size:13px;
	padding: 0.4em 0 0.5em 0;
	color: #777;
	line-height: 1.6em;
}
.twitts span {
	display: block;
	color:#a30505;
}
.footer-grid1 a {
	font-size:13px;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
}	
.center-grid a {
	background: none;
	color: #777;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
}
.center-grid li{
	list-style-image: url(../images/marker1.gif);
	padding: 5px 0;
	margin: 0 18px 10px;
	border-bottom: 1px ridge rgba(192, 192, 192, 0.13);
}
.center-grid a:hover{
	color:#fff;
}
.f_menu li {
	color: #777;
	line-height: 1.5em;
	display: block;
	padding:0 0 10px;
	font-size:13px;
}
.call_info p {
	font-size:16px;
	color: #666;
}
p.txt_4 {
	color: #666;
	padding:0px;
	font-size:1.4em;
}
.copy-right {
	padding: 20px 10px;
	background: #000;
}
.copy-right p {
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
}
.copy-right p a {
	color:#FDC5C5;
}
.copy-right p a:hover{
	text-decoration:underline;
}
.footer-top{
	padding-top: 20px;
}
/*--single--*/
.single-top{
	padding-top:20px;
}
.about_wrapper {
	padding: 10px 17px 10px 15px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #373737;
	border-bottom: 1px solid #D0D0D0;
	background: #F5F5F5;
}
.about-group {
	margin-top: 3%;
}
.grid {
	display: block;
	float: left;
}
.images_3_of_1 {
	width: 30.2%;
}
.images_3_of_1 img {
	max-width: 100%;
	display: block;
}
.span_2_of_3 {
	width:  48.1%;
}
.span_2_of_3 h3 {
	color:#A30505;
	margin-bottom: 0.3em;
	font-size: 1em;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	line-height: 1.5em;
}
.span_2_of_3 p {
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #333;
	line-height: 1.6em;
}
p.about-para {
	color: #333;
	font-size: 13px;
	line-height: 1.6em;
	padding-top: 1%;
}
.header-para {
	float: left;
	width: 25%;
}
.links {
	padding: 10px 0px;
	border: 1px solid rgba(192, 192, 192, 0.22);
	border-left: none;
	margin:20px 0;
}
.links ul li a {
	font-size: 13px;
	color: #333;
	line-height: 1.8em;
}
.links ul li a:hover{
	text-decoration:underline;
}
.links ul li img {
	vertical-align: middle;
	padding-right: 10px;
}
.images_1_of_3 h4 {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}
.images_1_of_3 h4 a{
	color: #333;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: -1px;
}
.images_1_of_3 h4 a:hover{
	color:#C94848;
}
.comments-area {
	margin-top:10px;
	color:#333;
}
.comments-area p {
	position: relative;
	padding:0px 0 10px;
}
.comments-area label {
	display: block;
	font-size: 13px;
	padding: 5px 0;
}
.comments-area span {
	color: #A60000;
	position: absolute;
	left: 4px;
	top: 30px;
}
.comments-area input[type="text"] {
	padding: 7px 15px;
	width: 47%;
	color: #222;
	font-size: 13px;
	border: none;
	background: #F0F0F0;
	outline: none;
	display: block;
}
.comments-area textarea {
	padding: 7px 15px;
	width: 70%;
	color: #222;
	font-size: 13px;
	outline: none;
	height: 100px;
	display: block;
	border: none;
	background: #F0F0F0;
	font-family: 'Arial', sans-serif;
}
.leave-comment, .leave-reply {
	margin-top: 30px;
}
.leave-comment a, .leave-reply a {
	color: #A30505;
font-size: 1.3em;
}
.comments-area input[type="submit"] {
	padding: 8px 15px;
	color: #666;
	background: #F1F1F1;
	border: 1px solid #BBB;
	cursor: pointer;
	-webkit-appearance: none;
}
.comments-area [type="submit"]:hover {
	color:#D54F30;
}
.span_1_of_s {
	width: 45.2%;
	margin-right: 15px;
	float:left;
}
.team{
	padding-top:1%;
}
.team h2{
	color:#A30505;
	font-size:1.2em;
	margin-bottom:10px;
}
/*--about--*/
.about-topgrid1 {
	margin-bottom:20px;
}
.about-topgrid1 h3 {
	color: #A30505;
	font-size:1.3em;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dotted #C0C0C0;
	margin-bottom: 13px;
}
.about-topgrid1 img {
	margin-bottom: 20px;
}
.about-topgrid1 h5 {
	color: #333;
	font-size: 13px;
	line-height: 1.5em;
	padding-bottom: 15px;
}
.about-topgrid1 p {
	font-size: 0.8125em;
	color: #555;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
}
.about-histore h3 {
	color: #A30505;
	font-size: 1.3em;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dotted #C0C0C0;
	margin-bottom: 13px;
}
.about-histore ul li span {
	color: #000;
	font-size: 14px;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	float: left;
	width: 15%;
}
.about-histore ul li p {
	font-size: 0.8125em;
	color: #555;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
	float: right;
	width: 83%;
}
.about-services h3 {
	color: #A30505;
	font-size: 1.3em;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dotted #C0C0C0;
	margin-bottom: 13px;
}
.client {
	margin-bottom: 20px;
}
.about-team-left {
	float: left;
	width: 25%;
	margin-right: 10px;
}
.about-team-right {
	float: right;
	width: 70%;
}
.about-team-right p {
	color: #6A6A6A;
	font-size: 13px;
	padding: 0px 0 10px 0;
	line-height: 1.8em;
}
.about-team-left img {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	cursor: pointer;
}
.about-team-left img {
	opacity: 5;
}
.heading h3 {
	color:#A30505;
	font-size: 1.3em;
	margin-bottom:10px;
}
.heading p {
	font-size: 0.8125em;
	margin-bottom:20px;
	color: #333;
	line-height: 1.5em;
}
/*--services--*/
.gallerys {
	padding-top: 10px;
}
.gallerys h3{
	font-size: 2.6em;
	font-weight: 400;
	line-height: 2em;
	margin: 0;
	color: #D4D4D4;
}
.gallery-grid{
	margin-bottom: 20px;
}
.gallery-grid p, .gallery-grid1 p{
	font-size:13px;
	padding: 0.2em 0em 0.5em 0em;
	color: #6a6a6a;
	line-height: 1.6em;
}
.gallery-button a {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
	text-decoration: none;
	margin-right: 15px;
	text-align: center;
	margin: 0 auto;
	color:#A30505;
	padding: 12px 0px;
}
.gallery-button a:hover {
	color:#000;
}
.gallery-grids {
	margin-bottom: 30px;
}
.gallery-grid h4, .gallery-grid1 h4{
	text-transform: uppercase;
	font-size:14px;
	line-height: 22px;
	color:#A30505;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}
.gallery-grid h4:hover, .gallery-grid h4:hover{
	color:#333;
}
.btn, .btn:active, .btn:focus {
	background: url(../images/btn.png) 100% 0 no-repeat;
	letter-spacing: -1px;
	color: #3D3D3D;
	line-height: 21px;
	margin: 0;
	padding: 0;
	padding-right: 32px;
	box-shadow: none;
	text-shadow: none;
	text-decoration: none;
	border-radius: 0px;
	border: none;
	font-size: 19px;
	text-transform: uppercase;
}
.btn:hover, .pagination li a:hover, .pagination li.active a, .comment-reply-link:hover, .pager li a:hover, body .pagination ul li a:hover {
	text-decoration: none;
	color: #3D3D3D;
	background: url(../images/btn.png) 95% 0 no-repeat;
	color: #BC080A;
}
.category{
	padding-bottom:20px;
	padding-top: 0px;
}
.category strong {
	color: #BC080A;
	display: block;
	padding: 8px 0;
	margin-right: 5px;
	float:left;
}
.nav-tabs > li, .nav-pills > li {
	float: left;
}
.nav > li > a {
	display: block;
}
.filter-wrapper .category #filters .active a, .filter-wrapper .category #tags .active a {
	background: #4D4D4D;
	color: #FFF;
}
.filter-wrapper .category #filters a, .filter-wrapper .category #tags a {
	color: #424242;
	padding:10px;
	margin: 0;
	margin-right: 5px;
	font-size:13px;
}
.filter-wrapper .category #filters a:hover, .filter-wrapper .category #tags a:hover {
	color: #FFF;
	background: #4D4D4D;
}
.nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
}
/*--contact--*/
/*  Contact Form  ============================================================================= */
.col{
	display: block;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:92%;
	background:#f0f0f0;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:100px;		
}
.contact-form input[type="submit"]{
	padding:6px 15px;
	color:#FFF;
	cursor:pointer;
	background:#A30505 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
    -webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{
	background-color:#333;
}
.contact-form input[type="submit"]:active{
	background-color:#333;  
}
.company_address p{
	font-size:0.8125em;
	color:#333;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-top:15px;
}
.span_1_of_3  h3 {
	color:#A30505;
	margin-bottom:0.5em;
	font-size:1.3em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
/*--404--*/
.page-not-found h1 {
	font-size:4em;
	color: #F0F0F0;
	text-align: center;
}
			